<!--this file replaced the old post-create since it is now using ReactiveFormsModule rather than FormsModule. Compare to see differences-->
<mat-card>
  
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!--ReactiveFormsModules needs [formGroup] added to the forms tag to tell angular this forms tag is the property "forms" defined in the typescript file
  the names should be the same. -->
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">

      <mat-form-field>
        <!--[ngModel] will not work in ReactiveFormsModule. Remove it from the attribute list < [ngModel]="post?.title" >-->
        <!-- no longer need name attribute since we will map this field to the typescript propertiy using formControlName-->
        <input
        matInput type="text"
        formControlName="title"
        minlength="3"
        placeholder="Post Title"
        ><!--#title="ngModel" will not be needed either since we removed [ngModel]-->
        <mat-error *ngIf="form.get('title').invalid">Please enter a post title</mat-error>
        <!--you can also reference the postForm to get the element that you want to check for validity-->
        <!-- <mat-error *ngIf="postForm.getControl('title').invalid">Please enter a post title</mat-error> -->
      </mat-form-field>

      <div>
        <button mat-stroked-button type="button" (click)="FilePicker.click()">Pick Image</button>
        <!--do not want the ugly default visual display of the input file type field. 
        instead we hide the field by CSS, but when the button above is clicked, we trigger the localreference on the input field-->
        <input type="file" #FilePicker (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>

      <mat-form-field>
        <!--[ngModel]="post?.title" is not needed in ReactiveFormsModule. #content="ngModel" will not work since removed [ngModel]-->
        <!-- no longer need name attribute since we will map this field to the typescript propertiy using formControlName-->
        <textarea matInput
          rows="4"
          formControlName="content"
          minlength="3"
          placeholder="Post Content">
        </textarea><!--list ngForm, ngModel will give you access to this input and store it as a local object in #content-->
        <mat-error *ngIf="form.get('content').invalid">Please enter a post content</mat-error><!--content is the #content referenced above-->
      </mat-form-field>
        <!--hashtag referenced elements can now be added to the event listener function being called-->
        <!--using directives on your form elements, you no longer need to send them as argument to the function being called
        because the directive is automatically listening to the function called-->
        <!--
        <button
          mat-raised-button
          color="accent"
          (click)="onAddPost()">Save Post</button>--><!--event binding to listen to an event, just do () and remove the "on" in front of onclick or onKeyup or onmouse, etc. and then equal to the function you want to
          //call when that button is clicked in this case-->
        <!--new Version after adding Form tag-->
        <!--type submit button will submit the form. so add the validation method in the form tag above-->
        <button
          mat-raised-button
          color="accent"
          type="submit">Save Post
        </button><!--event binding to listen to an event, just do () and remove the "on" in front of onclick or onKeyup or onmouse, etc. and then equal to the function you want to
          //call when that button is clicked in this case-->

  </form>

</mat-card>

<hr>
<!--hashtag referenced elements can now be added to the event listener function being called-->
<!--using directives on your form elements, you no longer need to send them as argument to the function being called
because the directive is automatically listening to the function called-->
<!--<button (click)="onAddPost()">Save Post</button>event binding to listen to an event, just do () and remove the "on" in front of onclick or onKeyup or onmouse, etc. and then equal to the function you want to
//call when that button is clicked in this case-->
<p>{{ newPost }}</p><!--the double curly braces are string interpollation. you can add output hooks directly on the template-->
<!--insde the string interpollation, you refer to an object stored in the component-->
