<mat-spinner *ngIf="isLoading"></mat-spinner>
<!--having multiple if conditions add &&-->
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading"><!--multi="true" allows the accordion to be allowed to open as many as accordions as you want. false would collapse other one-->
  <!--*ngIf is a structural directive that creates an if statement. Only render this element and anything inside to the DOM if it passes the if statement.-->
  <mat-expansion-panel *ngFor="let post of posts"><!--*ngFor creates a loop for your object. post is the individual value that you can use inside the loop. posts is the name of the object coming from the .ts file-->
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <!--we want to Bind to the property of routerLink which is also called routerLink element so that we can send an array of the URL
         we want to define by segments. So first position would be the path. after would be any arguments you want to send along with that URL-->
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0  && !isLoading">No Posts yet</p>
